.mid_text
{
    text-align: center;
    color: white;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

p
{
	color: white;
}

.board
{
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 300px;
	border-collapse: collapse;
	border-style: hidden;
}

.board_field
{
	border:5px solid #FFFFFF;
	padding-left: 10px;
	color: pink;
	height:100px;
	width: 100px;
}

#overlay {
	position: fixed; /* Sit on top of the page content */
  	display: none; /* Hidden by default */
  	width: 100%; /* Full width (cover the whole page) */
  	height: 100%; /* Full height (cover the whole page) */
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  /*	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  	cursor: pointer; /* Add a pointer on hover */
}

#text {
	background-color: purple;	
  	position: absolute;
	border-style: solid;
	border-color: pink;
	border-radius: 5px;
  	top: 50%;
  	left: 50%;
  	font-size: 50px;
  	color: white;
	transform: translate(-50%,-50%);
}
