{% extends "base.html" %}


{% block head %}
	<script src="https://cdn.socket.io/4.1.1/socket.io.min.js" integrity="sha384-cdrFIqe3RasCMNE0jeFG9xJHog/tgOVC1E9Lzve8LQN1g5WUHo0Kvk1mawWjxX7a" crossorigin="anonymous"></script>

{% endblock %}

{% block body %}
	<form action="" method="POST">
		<div class=form-goup>
			<input type="text" placeholder="room" class="form-control" name="room" autofocus autocomplete=off/>
			<button type="submit" class="btn btn-primary mb-1 ml-1">Join</button>

		</div>
	</form>
{% endblock %}
