{% extends "base.html" %}

{% block head %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

	<script src="/static/js/play.js"></script>
{% endblock %}

{% block body %}
	<div>
		<table class = "board" style="table-layout:fixed;">
		{% for i in range(3) %}
			<tr>
				{% for j in range(3) %}
					<td id="{{ i }}{{ j  }}" class="board_field" onclick="getPress(id)"><button style="display: none">0</button></td>
				{% endfor %}
			</tr>
		{% endfor %}
		</table>
	</div>

{% endblock %}
